@import "tailwindcss";
@import "tw-animate-css";

.swiper-pagination-bullet {
  background-color: white !important;
  opacity: 0.8;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
}


.swiper-pagination {
  position: absolute !important;
  bottom: 1rem !important;
  z-index: 30 !important;
  text-align: center;
  width: 100%;
}

.swiper-pagination-bullet {
  background-color: white !important;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
}

